[submodule "lively4-server"]
	path = lively4-server
	url = https://github.com/LivelyKernel/lively4-server.git
[submodule "lively4/lively4-core"]
	path = lively4/lively4-core
	url = https://github.com/LivelyKernel/lively4-core.git
